@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Over+the+Rainbow&display=swap');

:root {
    /* font-size  */
    --fs-s: 14px;
    --fs-sm: 20px;
    --fs-md: 28px;
    --fs-lg: 36px;
    --fs-xl: 50px;
    --fs-xxl: 60px;
    /* color  */
    --off-white: #cfe5f0;
    --blue: #0073b1;
    --light-black: #0d0d0d;
    --orange: #f8b762;
    --off-black: #3d3d3d;
    --gray: #c4c4c4;
    --light-gray: #cce3ef;
    --mid-gray: #cfcfcf;
    --dark-gray: #9e9e9e;
    --dark-green: #15231F;

    /* font-family   */
    --ff-Outfit: 'Outfit', Sans-serif;
    --ff-Rainbow: 'Over the Rainbow', Sans-serif;
}


.ff-outfit {
    font-family: var(--ff-Outfit);
}

.ff-rainbow {
    font-family: var(--ff-Rainbow);
}

/* font-size  */

.fs-s {
    font-size: var(--fs-s);
}

.fs-sm {
    font-size: var(--fs-sm);
}

.fs-md {
    font-size: var(--fs-md);
}

.fs-lg {
    font-size: var(--fs-lg);
}

.fs-xl {
    font-size: var(--fs-xl);
}

.fs-xxl {
    font-size: var(--fs-xxl);
}

/* color  */

.off-white {
    color: var(--off-white);
}

.bg-blue {
    color: var(--blue);
}

.light-black {
    color: var(--light-black);
}

.orange {
    color: var(--orange);
}

.bg-blue {
    background-color: var(--blue);
}

.gray {
    color: var(--gray);
}

.light-gray {
    color: var(--light-gray);
}

.mid-gray {
    color: var(--mid-gray);
}

.dark-gray {
    color: var(--dark-gray)
}

.bg-lightblack {
    background-color: var(--light-black);
}


/* line-height  */

.lh-17 {
    line-height: 17px;
}

.lh-24 {
    line-height: 24px;
}

.lh-30 {
    line-height: 30px;
}

.lh-31 {
    line-height: 31px;
}

.lh-35 {
    line-height: 35px;
}

.lh-62 {
    line-height: 62px;
}

.lh-100 {
    line-height: 100px;
}

* {
    padding: 0 !important;
    margin: 0 !important;
    list-style-type: none !important;
    text-decoration: none !important;
    box-sizing: border-box !important;
}

/* header-section */
.bg-header {
    background-image: url(../images/headerbg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
}

.mw-146 {
    max-width: 146px;
}

.op-90 {
    opacity: 90%;
}

.max-w-448 {
    max-width: 448px;
}

.w-img {
    max-width: 560px;
}


.arrow {
    position: absolute;
    bottom: 32%;
    right: 42%;
}

.nav-line {
    position: relative;
}

.nav-line::after {
    content: "";
    position: absolute;
    right: 0;
    left: 0;
    width: 0;
    height: 1.5px;
    border-radius: 22px;
    background-color: var(--off-white);
    bottom: -4px;
    transition: .5s;
    margin-left: auto;
    margin-right: auto;
}

.nav-line:hover::after {
    width: 100%;
}

/* section-2 */

.max-w-675 {
    max-width: 675px;
}

.phnimg {
    width: 357.38px;
}

.circle {
    width: 45px;
    height: 45px;
    padding: 5px, 0px, 5px, 0px;
    border-radius: 45px;
    background: var(--dark-green);
    transition: .5s;
}

.circle:hover {
    background-color: #F8B762;
}

.circle:hover p {
    color: #15231F;
}

.op-80 {
    opacity: 80%;
}

.max-w-471 {
    max-width: 471px;
}

.top-2 {
    top: 20%;
}

/* recycling-section */
.scanner {
    width: 60%;
}

/* accordian */
#faq .accordion {
    max-width: 957px !important;
}

#faq .accordion-item {
    border-radius: 10px !important;
    border: 1px solid #c5c5c5 !important;
    box-shadow: none !important;
    padding: 16px !important;
    margin-top: 16px !important;
}

#faq .accordion-button {
    font-family: var(--ff-Outfit) !important;
    font-size: var(--fs-sm) !important;
    font-weight: 500 !important;
    color: var(--light-black) !important;
    background-color: transparent !important;
}

#faq .accordion-body {
    font-family: var(--dark-green) !important;
    font-size: var(--fs-s) !important;
    font-weight: 400 !important;
    line-height: 24px !important;
    letter-spacing: 0em;
    text-align: left;
    opacity: 80% !important;
    max-width: 758px !important;
    padding-top: 4px !important;
}

.accordion-button:focus {
    box-shadow: none !important;
    border: none !important;
}

.accordion-button:not(.collapsed) {
    box-shadow: none !important;
}

#recycling .accordion-button {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    background: transparent !important;
    overflow-anchor: none;
    transition: var(--bs-accordion-transition);
    border-radius: 10px !important;
    color: #fff !important;
    font-size: var(--fs-sm) !important;
    font-weight: 500 !important;
}

#recycling .accordion-body {
    padding-top: 0px !important;
    padding-left: 60px !important;
    max-width: 452px !important;
}

#recycling .accordion-button:not(.collapsed) {
    box-shadow: none !important;
    padding-bottom: 12px !important;
}

#recycling .accordion-button:not(.collapsed):after {
    background-image: url("../images/minus.png") !important;
}

#recycling .accordion-button:after {
    background-image: url("../images/plus.png") !important;
}

#recycling .accordion-button:focus {
    box-shadow: none !important;
}

#recycling .accordion-item {
    border: 1px solid #A4A4A4 !important;
    margin-bottom: 16px !important;
    background-color: transparent !important;
    border-radius: 10px !important;
    padding: 16px 20px !important;
}

.gap_19 {
    gap: 19px;
}

.cursor-pointer {
    cursor: pointer;
}

.topp {
    top: 12%;
    z-index: -1;
}

/* newsletter */
.bg-newsletter {
    background-image: url(../images/newsletter.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    object-fit: cover;
    height: 500px;
}

.joinbtn {
    color: var(--blue);
    padding: 18px 32px !important;
    border-radius: 10px;
    border: none !important;
    transition: .5s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.joinbtn:hover {
    transform: scale(0.8);
}

.formbox {
    width: 100%;
    height: 54px;
    padding: 0px 0px 0px 20px !important;
    border-radius: 10px;
    border: 1px solid var(--gray);
}

.formm {
    outline: none !important;
    border: none !important;
    background-color: transparent !important;
    color: #fff !important;
    opacity: 1 !important;
}

::placeholder {
    color: #fff !important;
    opacity: 80%;
}

.nav-bg {
    background: #FFFFFF05;
}

/* footer */

.footerbg {
    background-image: url(../images/footerbg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    object-fit: cover;
    height: 400px;
}

.max-w-345 {
    max-width: 345px;
}

.icons {
    width: 24px;
    height: 24px;
    padding: 4px;
    border-radius: 4px;
    background: #FFFFFF26;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s;
    cursor: pointer;
}

.icons:hover {
    background-color: var(--off-white);
    transform: translateY(-10%);
}

.icons:hover svg path {
    fill: var(--light-black);
}

.footerline {
    width: 100%;
    height: 0.5px;
    background-color: var(--off-white);
}

.handellipse {
    position: absolute;
    bottom: -21%;
    right: -16%;
}

.op-60 {
    opacity: 60%;
}

.top-t {
    top: -7%;
}

/* preloader */
.duration-100 {
    transition: 100ms linear;
}

.pointer_event_none {
    pointer-events: none;
}

.z_5 {
    z-index: 5;
}

.animation {
    animation: swing 2s linear infinite;
}

@keyframes swing {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.5);
    }

    100% {
        transform: scale(1);
    }
}

/* backtotop */
.pos-fixed {
    position: fixed !important;
    z-index: 2;
    bottom: 0;
    right: 4px;
}

.coursor-pointer {
    cursor: pointer;
}

.top-btn {
    border-radius: 16px;
    height: 50px;
    width: 50px;
    transition: .4s;
    z-index: 2;
    border: 2px solid transparent;
    box-shadow: 0px 0px 25px 0px var(--sky);
    display: none;
    background-color: var(--light-black);
    border: 3px solid var(--blue);
}

.-z-1 {
    z-index: -1;
}

.wave1 {
    position: absolute;
    bottom: -6%;
    left: 0;
}

.headerwave {
    position: absolute;
    bottom: 0%;
    left: 0;
    width: 100%;
}

.wave2 {
    position: absolute;
    top: -11%;
    left: 0;
    z-index: 2 !important;
}


@media (max-width: 992px) {
    .mobile_view {
        position: fixed;
        top: 0;
        right: -100%;
        width: 100%;
        min-height: 100vh;
        background-color: var(--blue);
        transition: 300ms linear;
        flex-direction: column;
        z-index: 3;
    }

    .overflow_hidden {
        overflow: hidden;
    }

    .line1,
    .line2,
    .line3 {
        width: 30px;
        min-height: 3px;
        background-color: var(--off-white);
        transition: 300ms linear;
    }

    .cross .line1 {
        transform: rotate(50deg) translate(17px, 14px);
        background-color: var(--off-white);
    }

    .cross .line2 {
        transform: translateX(-50%);
        opacity: 0;
        background-color: var(--off-white);
    }

    .cross .line3 {
        transform: rotate(-50deg) translateY(-50%);
        background-color: var(--off-white);
    }

    .lh-71 {
        line-height: 71px;
    }
}


@media (min-width:768px) {
    .top-t {
        top: -13%;
    }

    :root {
        /* font-size  */
        --fs-s: 16px;
        --fs-sm: 24px;
        --fs-md: 32px;
        --fs-lg: 39px;
        --fs-xl: 64px;
        --fs-xxl: 60px;
    }

    .wave2 {
        top: -18%;
    }

    .formbox {
        width: 503px;
    }
}

@media (min-width:992px) {
    .top-t {
        top: -26%;
    }

    .bg-header {
        background-size: 100% 100%;
    }

    .wave1 {
        bottom: -13%;
    }

    .lh-83 {
        line-height: 83px;
    }

    .mw-513 {
        max-width: 513px !important;
    }

    .bg-newsletter {
        height: 700px;
    }

    .scanner {
        width: 508.27px;
    }

    .min-vh-header {
        min-height: calc(100vh-90px) !important;
    }
}

@media (min-width:1200px) {
    :root {
        /* font-size  */
        --fs-lg: 47px;
        --fs-xxl: 72px;
    }

    .wave1 {
        bottom: -17%;
    }
}

@media (min-width:1400px) {
    :root {
        /* font-size  */
        --fs-lg: 52px;
        --fs-xxl: 80px;
    }

    .wave2 {
        top: -27%;
    }
}